{{> dashboard-header }}



 <!-- Toggle Chat Button -->
     <button id="toggleChat"
        class="ml-4 text-white px-4 py-2 border border-gray-300 hover:bg-gray-200 hover:text-gray-800 transition duration-300 ease-in-out">
        <span id="toggleIcon" class="mr-2">View Chat</span>
    </button>

<body class="bg-gray-100">
  
    <div class="flex gap-4 p-4">
        <!-- Chatroom Section -->
        <div id="chatSection" class="w-1/5 h-screen bg-gray-800 border border-gray-300 p-4" style="height: 80vh">
            <!-- Chatroom List -->
            <div id="chatroomList" class="overflow-y-auto">
                {{!-- dynamic chatroom list will appear here --}}
                {{#each chatrooms}}
                <div class="chatroom cursor-pointer text-white p-2 bg-gray-700 mb-2 rounded">
                    <a href="/chatroom/{{this.id}}" class="text-white">{{this.chatroom_name}}</a>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Main Content Section -->
        <div id="mainSection" class="flex-1 h-screen bg-gray-800 border border-gray-300 p-4" style="height: 80vh">
         <h2>Chat Room: "{{chatroom_name}}"</h2>
            <!-- Main Content Goes Here -->
            <div id="chatContent" class="h-full overflow-y-auto bg-gray-900 p-4" >
                {{!-- chat messages will appear here --}}
                <div id="messages" class="mb-4">
                    {{!-- dynamic chat messages will appear here --}}
                    {{!-- iterates over messages array, rendering each message --}}
                    {{!-- timestamp - sender: message --}}
                    {{#each messages}}
                    <div class="text-white p-2 bg-gray-600 mb-2 rounded">
                        {{this.message_timestamp}} - {{this.sender_id}}: {{this.message_text}}
                    </div>
                    {{/each}}
                </div>

                <!-- message Form -->
                <form id="chatForm">
                    <input type="hidden" id="user-id" value="{{user_id}}" />
                    <input type="hidden" id="room-id" value="{{id}}" />
                    <input id="messageInput" type="text" placeholder="Type a message..." class="w-full p-2 mb-2 bg-gray-800 text-white border border-gray-600 rounded" />
                    <button type="submit" class="w-full p-2 bg-blue-800 text-white border border-blue-800 rounded">Send</button>
                </form>
            </div>
        </div>
    </div>


    <!-- SOCKET.IO SCRIPT -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
    
        // JavaScript to toggle chatroom visibility
        const toggleChatButton = document.getElementById('toggleChat');
        //const chatContent = document.getElementById('chatContent');
        const chatSection = document.getElementById('chatSection');
        const mainSection = document.getElementById('mainSection');

        // Hide chatroom content by default
        chatSection.classList.add('hidden');

        // Toggle button click event
        toggleChatButton.addEventListener('click', () => {
            //chatContent.classList.toggle('hidden');

            if (!chatSection.classList.contains('hidden')) {
                // If chat is hidden, expand main section to full width
                chatSection.classList.remove('w-1/5');
                chatSection.classList.add('hidden');
                mainSection.classList.remove('flex-1');
                mainSection.classList.add('w-full');
                toggleIcon.textContent = 'View Chat';
            } else {
                // If chat is shown, revert to original sizes
                chatSection.classList.add('w-1/5');
                chatSection.classList.remove('hidden');
                mainSection.classList.add('flex-1');
                mainSection.classList.remove('w-full');
                toggleIcon.textContent = 'Hide Chat';
            }
        });

        const roomID = document.querySelector("#room-id").value;; // chatroom id
        const userID = document.querySelector("#user-id").value;; // user id

        // connect to socket.io
        const socket = io();

        // join chatroom
        socket.emit('join_room', { roomID, userID });

        // sendMessage function
        function sendMessage(roomID, userID, messageText) {
            socket.emit('chat_message', {
                room_id: roomID,
                sender_id: userID,
                message_text: messageText,
                message_timestamp: new Date()
            });
        }

        // listen for new messages
        socket.on('chat_message', (data) => {
            // destructure data
            const { sender_id, message_text, message_timestamp } = data;
            // create message
            const message = `${message_timestamp} - ${sender_id}: ${message_text}`;
            // create message element and append to chatContent
            const messageEl = document.createElement('div');
            messageEl.classList.add('text-white', 'p-2', 'bg-gray-600', 'mb-2', 'rounded');
            messageEl.textContent = message;

            // append message to chatContent
            document.getElementById('messages').appendChild(messageEl);
        });

        // listen for form submit
        document.getElementById('chatForm').addEventListener('submit', (event) => {
            event.preventDefault();
            // get message text
            const messageText = document.getElementById('messageInput').value;
            // if message is not empty
            if (messageText.trim() !== '') {
                sendMessage(roomID, userID, messageText);
                document.getElementById('messageInput').value = '';
            }
        });

    </script>
</body>
