{{>dashboard-header}}

<body class="bg-gray-100">
  
    <div class="flex gap-4 p-4">
        <!-- Main Content Section -->
        <div id="mainSection" class="flex-1 h-auto md:h-screen bg-gray-800 border border-gray-300 p-4 relative">
            <!-- Main Content Goes Here -->
            <h2 class="text-4xl font-bold text-white mb-4">Search Results for "{{searchQuery}}"</h1>
            <div id="messages" class="mb-4 border-t-2 border-gray-300 pt-4"></div>
            <div class="overflow-y-auto h-full mb-16" style="height: 90vh">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4" style="height: 15vh">
                    {{#each games}}
                    <a href="api/games/{{ id }}" class="block border bg-gray-900 border-gray-300 p-4 rounded-lg transition duration-300 hover:bg-gray-500">
                        <div class="flex items-center mb-4">
                            <img src="{{ cover_art }}" alt="{{ title }}" class="h-24 w-auto mr-4">
                            <div>
                                <h2 class="text-xl font-bold">{{ title }}</h2>
                            </div>
                        </div>
                        <p class="text-l text-gray-200">{{ description }}</p>
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</body>

